body {
  height: 100vh;
  width: 100vw;
}

div#root {
  width: 100%;
  height: 100%;
}

.App {
  margin: 10px;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.App svg {
  width: 90%;
  flex: 1;
}