div#root {
  width: 100%;
  height: 90%;
}

.App {
  margin: 10px;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.App div#graph {
  width: 90%;
  flex: 1;
}

.App div#graph svg {
  width: 100%;
  height: 100%;
}

div#tooltip {
  position: absolute;
  text-align: center;
  padding: .2rem;
  background: #313639;
  color: #f9f9f9;
  border: 0;
  border-radius: 8px;
  pointer-events: none;
  font-size: .7rem;
  z-index: 100;
}

div.help {
  max-width: 60%;
  text-align: left;
  margin: 5px;
}

div.helpSection {
  margin: 10px 10px 10px 10px;
}

div.images {
  display: flex;
  flex-direction: row;
}

div.images a {
  margin: 10px;
}